<nav id="layout-offcanvas-left" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
	<a class="navmenu-brand">PazFit</a>
	<ul class="nav navmenu-nav">
		<li><a href="#/">Dashboard</a></li>
		<li><a href="#/calendar">Calendar</a></li>
		<li class='section'>Logs</li>
		<li><a href="#/log/new/edit">Log Workout</a></li>
		<li><a href="#/log">View Logs</a></li>
		<li class='section'>Maxes</li>
		<li><a href="#/max">View Maxes</a></li>
		<li><a href="#/max/schedule">Edit Schedule</a></li>
		<li class='divider'></li>
	</ul>
</nav>

