<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class='navbar-brand hidden-md visible-lg visible-md'>PazFit</a>
			<a class='navbar-brand navbar-brand--center hidden-md hidden-lg'>{{ ScreenTitle }}</a>
			<button type="button" class="navbar-toggle navbar-left collapsed" data-toggle="offcanvas" data-target="#layout-offcanvas-left" data-canvas="body">
				<span class="sr-only">Page Options</span>
				<span class='glyphicon glyphicon-user'></span>
			</button>
			<button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#layout-offcanvas-right" data-canvas="body">
				<span class="sr-only">Toggle navigation</span>
				<span class='glyphicon glyphicon-cog'></span>
			</button>
		</div>
		<div layout-topnav-links></div>
	</div>
</nav>
