<div class='collapse navbar-collapse'>
	<ul class='nav navbar-nav'>
		<li><a href='#/dashboard'>Dashboard</a></li>
		<li class='dropdown'>
		<a href='#' class='dropdown-toggle' data-toggle='dropdown'>Log <span class='caret'></span></a>
		<ul class='dropdown-menu' role='menu'>
			<li><a href='#/log'>All</a></li>
			<li><a href='#/log/new/edit'>New Log</a></li>
		</ul>
		</li>
		<li class='dropdown'>
		<a href='#' class='dropdown-toggle' data-toggle='dropdown'>Maxes <span class='caret'></span></a>
		<ul class='dropdown-menu' role='menu'>
			<li><a href='#/max'>All</a></li>
			<li><a href='#/max/new/edit'>New Max</a></li>
			<li class='divider'></li>
			<li><a href='#/max/schedule'>Schedule</a></li>
		</ul>
		</li>

	</ul>
</div>

