<div class='dashboard-calendar'>
	<tien-clndr class="clndr" tien-clndr-object="clndr" tien-clndr-events="events">
	<div class="clndr-controls">
		<div class="clndr-previous-button" ng-click="clndr.back()">
			&lsaquo;
		</div>
		<div class="month">
			{{month}}
		</div>
		<div class="clndr-next-button" ng-click="clndr.forward()">
			&rsaquo;
		</div>
	</div>
	<div class="clndr-grid">
		<div class="days-of-the-week">
			<div class="header-day" ng-repeat="day in daysOfTheWeek track by $index">
				{{day}}
			</div>
		</div>
		<div class="days">
			<div class="{{day.classes}}" ng-repeat="day in days">
				<div class="event-indicator event--max" ng-show="day.events.length && !day.events[0].lift" ng-click="showEvents(day.events)"> </div>
				<div class="event-indicator event--log" ng-show="day.events.length && day.events[0].lift" ng-click="showEvents(day.events)"> </div>
				<span>{{day.day}}</span>
			</div>
		</div>
	</div>
	</tien-clndr>
</div>
