.dashboard-calendar {
	height: 100%;

	.event {
		&--max, &--log {
			height: 12px !important;
			width: 12px !important;
			line-height: 12px;
		}
		&--max {
			background: $max-color !important;
			top: auto !important;
			bottom: 0 !important;
		}

		&--log {
			background: $log-color !important;
		}
	}
}
