
.dashboard-calendar {
	height: 100%;

	.days {
		.event {
			&--max, &--log {
				height: 12px !important;
				width: 12px !important;
				line-height: 12px;
			}
			&--max {
				background: $max-color !important;
				top: auto !important;
				bottom: 0 !important;
			}

			&--log {
				background: $log-color !important;
			}
		}
	}

	.day {
		cursor: pointer;

		&.active span {
			background: blue;
			color: white;
			border-radius: 100%;
			padding: 4px;
		}
	}

	&__selectedDay {
		& .event--max { background: $max-color; }
		& .event--log { background: $log-color; }
	}
}
