.label-log-health .label {
	padding-left: 5px;
	text-align: center;

	&:empty { 
		display: inline;
		vertical-align: middle;
	}
}

@mixin label-log-health($color, $iconCode) {
	color: $color;
	text-shadow: rgba(0,0,0,0.15) 1px 1px 0;

	&::before {
		/*color: white;*/
		content: $iconCode;
	}
}

.label-log-health-- {
	&EXCELLENT { @include label-log-health(gold, '\e006'); }
	&GOOD { @include label-log-health(green, '\e013'); }
	&OK { @include label-log-health(grey, '\2212'); }
	&BAD { @include label-log-health(red, '\e126'); }
	&UNKNOWN { @include label-log-health(grey, '\e085'); }
}
