$max-color: #d9534f;
$log-color: #337ab7;


$icon-font-path: "bower/dist/fonts/";
@import '../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss';
@import 'src/static/style/labels';
@import 'src/static/style/bootstrap.scss';
@import 'src/static/style/clndr';


body {
	padding-top: 70px;
}
